// Colors
$paleBlue-100: hsl(225, 100%, 94%);
$paleBlue-200: hsl(225, 100%, 98%);
$brightBlue: hsl(245, 75%, 52%);
$desaturatedBlue: hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%);

// Fonts, margins and paddings
$fs: 16px;
$fm: 'Red Hat Display';
$radius: 2rem;

@mixin center($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}
